    <footer class="row">
      <div class="large-7 columns">
	    <%= input_tag :text, :placeholder => "Send me a message" %>
      </div>
      <div class="large-3 columns">
	    <%= input_tag :text, :placeholder => "Email" %>
      </div>
      <div class="large-2 columns">
	    <%= submit_tag :text, :value => "Send" %>
      </div>
    </footer>