body, h1, h2, h3, h4, h5 {
	font-family: 'Vollkorn', serif;
}

body, p, ul, input[type="text"] {
	font-size: 1.35rem;
}

h1, h2, h3, h4, h5 {
	margin-top: 2rem;
}

h2 {
	font-size: 1.8rem;
}

a {
	color: $secondary;
}

a:hover {
	color: darken($secondary, 20%);
}

ul {
	margin-left: 0rem;
}