body, h1, h2, h3, h4, h5 {
	font-family: 'Vollkorn', serif;
}

body, p, ul, input[type="text"] {
	font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
	margin-top: 2rem;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: .25rem;
}

h2 {
	font-size: 1.8rem;
	margin: 0 0;
}

h3 {
	font-size: 1.3rem;
	margin-bottom: 0rem;
	text-transform: uppercase;
}

a {
	color: $secondary;
}

a:hover {
	color: darken($secondary, 20%);
}

ul {
	margin-left: 0;
}

.caption {
	font-size: 1rem;
}

.quote {
	border-bottom: 4px solid darken($secondary, 20%);
	border-top: 4px solid darken($secondary, 20%);
	font-size: 2rem;
	margin: 50px 0;
	padding: 25px 0;
	text-indent: -13px;
}

.quote span {
	font-size: 1.3rem;
}