---
title: Eric Benoit, Boston Software Designer
description: Eric Benoit is a Boston Software Designer that designs tough, complex software, and turns it into a beautiful experience.
keywords: boston ui designer, boston ux designer, user interface designer, user experience designer, product designer, software designer
---

<div>
  <h1>Designing exceptional software impacting millions.</h1>
  <small>(People &amp; dollars)</small>
	<% 5.times do |num| %>
	<p>Count <%= num %></p>
	<% end %>
</div>